###############################################################
# Ignore Vagrant Files
###############################################################

.vagrant

###############################################################
# Ignore IDE Files
###############################################################

.idea